html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.style{
	width: 851;
	height: 768;
	background-image: url(../img/bg_yellow.svg);
	background-repeat: no-repeat;
	background-position-x: right;
}
.wrap{
	margin: 0 auto;
	width: 1085px;
	
	
}
.style{
	width: 851;
	height: 768;
	background-image: url(../img/bg_yellow.svg);
	background-repeat: no-repeat;
	background-position-x: right;
}
	

.header{
	padding-top: 30.3px;
	margin-bottom: 34.67px;
	margin-left: 142px;
}

	

.section1{
	display: flex;
	justify-content: space-around;
	margin-top: 158px;
	margin-left: 141px;
	margin-right: 140px;
	margin-bottom: 157px;
}

.section_item h2{
	margin-bottom: 8px;
	text-align: left;
font: normal normal bold 18px/26px Noto Sans TC;
letter-spacing: 0px;
color: #56C4C5;
opacity: 1;

}	
.section_item h1{
	width: 432px;
	text-align: left;
font: normal normal bold 48px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
opacity: 1;
}	
.section_item p{
	margin-top: 16px;
	width: 451;
	text-align: left;
font: normal normal normal 20px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
}

.topic h1{
	margin-bottom: 48px;
	text-align: center;
	font: normal normal bold 32px/46px Noto Sans TC;
	letter-spacing: 0px;
	color: #221E1F;
	opacity: 1;}
	


.section2{
	display: flex;
    justify-content: space-around;
}	



.section2 h3{text-align: center;
	font: normal normal bold 24px/35px Noto Sans TC;
	letter-spacing: 0px;
	color: #221E1F;
	opacity: 1;}

.section2 {text-align: center;
	font: normal normal normal 16px/24px Noto Sans TC;
	letter-spacing: 0px;
	color: #747474;
	opacity: 1;}

.topic3 h3{
	margin-top: 100px;
	text-align: center;
	font: normal normal bold 32px/46px Noto Sans TC;
	letter-spacing: 0px;
	color: #221E1F;
	opacity: 1;}
.topic3 p{
	margin-top: 16px;
	margin-bottom: 48px;
	text-align: center;
	font: normal normal normal 20px/29px Noto Sans TC;
	letter-spacing: 0px;
	color: #221E1F;
	opacity: 1;}

.section3{
	display: flex;
	justify-content: space-around;
}


	.menber1 h4{text-align: center;
		font: normal normal bold 16px/24px Noto Sans TC;
		letter-spacing: 0px;
		color: #56C4C5;
		opacity: 1;}
	
	.menber1 {
		text-align: center;
font: normal normal normal 16px/24px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
opacity: 1;
	}
	.menber h4{text-align: center;
		font: normal normal bold 16px/24px Noto Sans TC;
		letter-spacing: 0px;
		color: #56C4C5;
		opacity: 1;}
    .menber p{text-align: center;
		font: normal normal normal 16px/24px Noto Sans TC;
		letter-spacing: 0px;
		color: #221E1F;
		opacity: 1;}

.section4{
	margin: 100px;
	display:flex;
	justify-content: space-around;
}
.leftside{
	width: 50%;
	display: flex;
	justify-content: space-around;
}
.leftside h4{
	margin-top: 24px;
	margin-bottom: 16px;
	text-align: left;
font: normal normal bold 18px/26px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
}
.leftside p{
	text-align: left;
font: normal normal normal 16px/24px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
}
.card{
	width: 25%
	 no-repeat padding-box;
box-shadow: 0px 2px 10px #00000014;
border-radius: 12px;
}
.rightside{
	width:50%
}

.rightside h1{
	text-align: left;
font: normal normal bold 32px/46px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
}

.rightside p{
	text-align: left;
font: normal normal normal 18px/26px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
opacity: 1;
}
.section5{
	margin-top: 100px;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-around;
}
.topic5 h1{
	text-align: center;
font: normal normal bold 32px/46px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
}
.platform{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 10px #00000014;
	border-radius: 12px;
	width: 352px;
}

.platform img{
	margin-top: -48px;
	margin-left: 36px;
}
.platform p{
	text-align: left;
font: normal normal normal 16px/24px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
margin-bottom: 24px;
width: 288px;
margin-left: 36px;
}
.platform h4{
	text-align: left;
font: normal normal bold 16px/24px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
margin-left: 36px;
}
.platform h5{
	text-align: left;
font: normal normal normal 16px/24px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
margin-top: 8px;
margin-bottom: 24px;
width: 288px;
margin-left: 36px;
}

.secion6{
	width: 1366;
	height: 503;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-position-x: right;
	text-align: center;

}
.text h1{
	text-align: center;
	font: normal normal bold 32px/46px Noto Sans TC;
letter-spacing: 0px;
color: #221E1F;
}

.footer{
	background: #F5F5F5;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
}